wf_check.json
{"updatedAt":"2026-03-10T19:23:21.747Z","createdAt":"2026-03-10T12:04:32.642Z","id":"DRi4d9wHIoi6Jhfr","name":"WhatsApp Pre-Atendimento - DIEGO","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-webhook","options":{}},"id":"wh-001","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"11314f27-214a-4731-b1d7-fc5485b87af4"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = (input.body && input.body.event) ? input.body : input;\nconst rawEvent = (body.event || body.type || '').toLowerCase().replace(/_/g, '.');\nconsole.log('[FILTRO] event:', rawEvent, '| instance:', body.instance);\n\nif (rawEvent !== 'messages.upsert') { console.log('[FILTRO] Ignorado:', rawEvent); return []; }\n\nconst data = body.data || {};\nlet msg;\nif (Array.isArray(data.messages) && data.messages.length > 0) { msg = data.messages[0]; }\nelse if (data.key) { msg = data; }\nelse { console.log('[FILTRO] Sem mensagem em data'); return []; }\n\nconst key       = msg.key || {};\nconst remoteJid = key.remoteJid || '';\nconst fromMe    = key.fromMe === true;\nif (!remoteJid) return [];\nif (remoteJid.includes('@g.us')) { console.log('[FILTRO] Grupo ignorado'); return []; }\n\nconst msgObj   = msg.message || {};\nconst pushName = msg.pushName || 'Cliente';\nconst instance = body.instance || '';\n\nlet type = 'unknown', content = '', hasMedia = false;\n\nif (msgObj.conversation !== undefined)         { type = 'conversation';   content = msgObj.conversation || ''; }\nelse if (msgObj.extendedTextMessage)           { type = 'conversation';   content = msgObj.extendedTextMessage.text || ''; }\nelse if (msgObj.audioMessage || msgObj.pttMessage) { type = 'audioMessage';  hasMedia = true; }\nelse if (msgObj.imageMessage)                  { type = 'imageMessage';   content = msgObj.imageMessage.caption || '[Imagem recebida]'; hasMedia = true; }\nelse if (msgObj.documentMessage)               { type = 'documentMessage'; content = msgObj.documentMessage.caption || '[Documento recebido]'; hasMedia = true; }\nelse if (msgObj.buttonsResponseMessage)        { type = 'conversation';   content = msgObj.buttonsResponseMessage.selectedDisplayText || ''; }\nelse if (msgObj.listResponseMessage)           { type = 'conversation';   content = msgObj.listResponseMessage.title || ''; }\nelse if (msgObj.reactionMessage || msgObj.protocolMessage || msgObj.stickerMessage) { return []; }\nelse { console.log('[FILTRO] Tipo nao suportado:', Object.keys(msgObj).join(', ')); return []; }\n\nif (!content && !hasMedia) return [];\nconsole.log('[FILTRO] OK — type:', type, '| remoteJid:', remoteJid);\nreturn [{ json: { remoteJid, fromMe, pushName, type, content, hasMedia, instance, msgId: key.id } }];"},"id":"code-002","name":"Filtrar e Extrair","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst d  = $input.first().json;\nconst { remoteJid, fromMe, pushName } = d;\n\nif (!sd.convs) sd.convs = {};\nconst c = sd.convs[remoteJid] || { state: 'new', history: [], name: pushName, startedAt: new Date().toISOString() };\n\nlet action = 'process_ai';\nif      (c.state === 'human_takeover')      action = 'skip';\nelse if (c.state === 'pre_attendance_done') action = 'skip';\nelse if (fromMe && (c.state === 'active_ai' || c.state === 'new')) action = 'human_takeover';\nelse if (fromMe) action = 'skip';\n\nreturn [{ json: { ...d, action, convState: c.state, history: c.history || [], custName: c.name || pushName } }];\n"},"id":"code-003","name":"Carregar Estado","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"skip","operator":{"type":"string","operation":"equals"},"id":"26cac017-81b7-46dd-9322-8c52d821cd8c"}],"combinator":"and"},"renameOutput":true,"outputKey":"skip"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"human_takeover","operator":{"type":"string","operation":"equals"},"id":"29c27b31-0bcd-43e3-852b-5c6ea64c3e75"}],"combinator":"and"},"renameOutput":true,"outputKey":"human_takeover"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"process_ai","operator":{"type":"string","operation":"equals"},"id":"5dbbb79f-de94-49a4-b190-074ed198987c"}],"combinator":"and"},"renameOutput":true,"outputKey":"process_ai"}]},"options":{}},"id":"sw-004","name":"Rotear Acao","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1168,304]},{"parameters":{},"id":"noop-005","name":"Ignorar Mensagem","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,160]},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst { remoteJid } = $input.first().json;\nif (!sd.convs) sd.convs = {};\nif (!sd.convs[remoteJid]) sd.convs[remoteJid] = { state: 'new', history: [] };\nsd.convs[remoteJid].state   = 'human_takeover';\nsd.convs[remoteJid].humanAt = new Date().toISOString();\nconsole.log('[TAKEOVER] Humano assumiu: ' + remoteJid);\nreturn [{ json: { ok: true, remoteJid } }];\n"},"id":"code-006","name":"Registrar Takeover","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,304]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst { remoteJid, fromMe, pushName, type, content, hasMedia, instance } = input;\n\nlet userMessage = content || '';\n\n// Áudio: content já vem transcrito — passa direto com prefixo informativo\nif (type === 'audioMessage') {\n  userMessage = '[mensagem de voz]: ' + content;\n} else if (type === 'imageMessage') {\n  userMessage = '[Cliente enviou uma imagem]: ' + content;\n} else if (type === 'documentMessage') {\n  userMessage = '[Cliente enviou um documento]: ' + content;\n}\n\nreturn [{ json: { remoteJid, pushName, instance, content: userMessage, type } }];"},"id":"code-007","name":"Preparar Request IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,464]},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\n\n// Resposta do AI Agent\nlet aiResp = $input.first().json.output || '';\nif (!aiResp) aiResp = 'Olá! Tive uma dificuldade técnica. Pode repetir sua mensagem?';\n\n// Contexto de \"Preparar Request IA\"\nconst ctx       = $('Preparar Request IA').first().json;\nconst remoteJid = ctx.remoteJid || '';\nconst pushName  = ctx.pushName  || 'Cliente';\nconst instance  = ctx.instance  || '';\n\nconsole.log('[PARSE] remoteJid:', remoteJid, '| resp:', aiResp.slice(0, 60));\n\n// Checar flag de conclusão\nconst FLAG      = '[PRE_ATENDIMENTO_CONCLUIDO]';\nconst concluded = aiResp.includes(FLAG);\nconst clean     = aiResp.replace(FLAG, '').trim();\n\n// Atualizar estado (histórico fica no Postgres via AI Agent)\nif (!sd.convs) sd.convs = {};\nif (!sd.convs[remoteJid]) sd.convs[remoteJid] = { state: 'new', startedAt: new Date().toISOString() };\nsd.convs[remoteJid].state = concluded ? 'pre_attendance_done' : 'active_ai';\nsd.convs[remoteJid].name  = pushName;\nif (concluded) sd.convs[remoteJid].concludedAt = new Date().toISOString();\n\nconsole.log('[PARSE] Concluido:', concluded, '| Estado:', sd.convs[remoteJid].state);\nreturn [{ json: { remoteJid, instance, aiResp: clean, concluded, pushName } }];\n"},"id":"code-009","name":"Processar Resposta IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,464]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Processar Resposta IA').first().json.concluded }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-011","name":"Verificar Conclusao","type":"n8n-nodes-base.if","typeVersion":2,"position":[2832,464]},{"parameters":{},"id":"noop-013","name":"Continuar Ativo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3088,560]},{"parameters":{"resource":"messages-api","instanceName":"n8n-diego","remoteJid":"={{ $json.remoteJid }}","messageText":"={{ $json.aiResp }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2496,464],"id":"1307926c-0403-44c9-8b5b-815553070170","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ITmiNvsVzXYS6Vlr","name":"Evolution account 2"}}},{"parameters":{"method":"POST","url":"=https://kaizen-axis-n8n-evolution-api.2ut0z1.easypanel.host//label/handleLabel/n8n-diego","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"},{"name":"number","value":"={{ $('Processar Resposta IA').first().json.remoteJid }}"},{"name":"labelId","value":"23"},{"name":"action","value":"add"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Processar Resposta IA').first().json.remoteJid }}\",\n  \"labelId\": \"23\",\n  \"action\": \"add\"\n}\n","options":{"timeout":10000}},"id":"http-012","name":"Aplicar Etiqueta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3088,352]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Preparar Request IA').first().json.remoteJid }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1712,656],"id":"5b9f4b54-77e9-4ae1-af76-77b13e931228","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"eayHwOI4Y2tDfbUH","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-audio","leftValue":"={{ $json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-audio-001","name":"Verificar Audio","type":"n8n-nodes-base.if","typeVersion":2,"position":[704,304]},{"parameters":{"method":"POST","url":"https://kaizen-axis-n8n-evolution-api.2ut0z1.easypanel.host/chat/getBase64FromMediaMessage/n8n-diego","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"message\": { \"key\": { \"id\": $('Filtrar e Extrair').first().json.msgId, \"fromMe\": false, \"remoteJid\": $('Filtrar e Extrair').first().json.remoteJid } }, \"convertToMp4\": false }) }}","options":{}},"id":"http-audio-001","name":"Baixar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,544]},{"parameters":{"jsCode":"const whisperResp = $input.first().json;\nconst original    = $('Filtrar e Extrair').first().json;\n\nconst transcription = (whisperResp.text || '').trim();\nconsole.log('[AUDIO] Transcrição Whisper:', transcription ? transcription.slice(0, 100) : '(vazia)');\n\nreturn [{ json: {\n  remoteJid: original.remoteJid,\n  fromMe:    original.fromMe,\n  pushName:  original.pushName,\n  type:      'conversation',\n  content:   transcription || '[áudio não transcrito]',\n  hasMedia:  false,\n  instance:  original.instance,\n  msgId:     original.msgId\n} }];"},"id":"code-fmt-001","name":"Formatar Transcricao","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,544]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1008,544],"id":"eaf54732-8c2f-49d2-b13a-d017bc8c8a2a","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"LVOqj2PNDSgyQh3z","name":"OpenAi account"}}},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst base64   = inputData.base64;\nconst fileName = inputData.fileName || 'audio.ogg';\nconst mimeType = inputData.mimetype || 'audio/ogg; codecs=opus';\n\nif (!base64) throw new Error('base64 não encontrado na resposta do Baixar Audio');\n\nconst buffer     = Buffer.from(base64, 'base64');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, fileName, mimeType);\n\nreturn [{ json: {}, binary: { data: binaryData } }];"},"id":"code-bin-001","name":"Converter para Binario","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,544]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1616,656],"id":"44142ff0-2601-469e-9b39-9c5237acc6a4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"LVOqj2PNDSgyQh3z","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Preparar Request IA').first().json.content }}","options":{"systemMessage":"Você é um assistente virtual de pré-atendimento de uma imobiliária, atuando como um corretor imobiliário cordial, profissional e proativo.\n\nSeu objetivo é conversar de forma natural com o cliente, entender seu interesse em adquirir um imóvel e coletar algumas informações necessárias para análise de crédito e encaminhamento para um corretor humano.\n\nEstilo de Comunicação\n\t•\tSeja cordial, educado e profissional.\n\t•\tMantenha um tom conversacional e humano, como um corretor experiente faria no WhatsApp.\n\t•\tDemonstre interesse genuíno no cliente.\n\t•\tFaça uma pergunta por vez sempre que possível, para manter a conversa fluida.\n\t•\tUse frases naturais, curtas e fáceis de entender.\n\t•\tSeja engajado e proativo, guiando o cliente naturalmente até obter todas as informações necessárias.\n\t•\tNunca diga que está executando um fluxo ou processo interno.\n\t•\tNunca diga que é uma IA.\n\n⸻\n\nObjetivo do Pré-Atendimento\n\nSeu objetivo é coletar as seguintes informações do cliente durante a conversa:\n\t1.\tNome\n\t2.\tRegião de interesse para o imóvel\n\t3.\tTrabalha de carteira assinada\n\t4.\tProfissão\n\t5.\tHá quanto tempo está no emprego atual\n\t6.\tEstado civil (se é casado(a) no papel)\n\t7.\tSe possui filhos\n\t8.\tSe possui filhos, perguntar a idade\n\t9.\tSe sabe se possui restrição no CPF\n\t10.\tValor da renda bruta mensal (valor antes dos descontos)\n\n⸻\n\nEstratégia de Conversa\n\t•\tNão faça todas as perguntas de uma vez.\n\t•\tVá coletando as informações de forma natural durante a conversa.\n\t•\tUse transições naturais, por exemplo:\n\nExemplos de condução:\n\t•\t“Pra eu te ajudar melhor, qual é seu nome?”\n\t•\t“Você está procurando imóvel em qual região?”\n\t•\t“Hoje você trabalha de carteira assinada?”\n\t•\t“Qual é sua profissão?”\n\t•\t“E já está nesse emprego há quanto tempo?”\n\t•\t“Você é casado(a) no papel ou solteiro(a)?”\n\t•\t“Tem filhos?”\n\t•\t“Se tiver filhos, qual a idade deles?”\n\t•\t“Você sabe me dizer se tem alguma restrição no CPF?”\n\t•\t“E qual é sua renda bruta mensal, aquele valor antes dos descontos?”\n\nSe o cliente não souber alguma informação, continue normalmente com a conversa.\n\n⸻\n\nRegras Importantes\n\nQuando todas as informações obrigatórias forem coletadas:\n\t1.\tPare imediatamente de responder o cliente.\n\t2.\tNão envie nenhuma mensagem informando que o atendimento será transferido.\n\t3.\tNão faça despedidas.\n\t4.\tNão informe que o pré-atendimento terminou.\n\nO atendimento será assumido por um corretor humano, portanto você deve simplesmente parar de responder.\n\n⸻\n\nAção Interna (disparo para humano)\n\nApós coletar todas as informações, gere uma mensagem interna para notificação contendo:\n\nMensagem de notificação:\n\n“Pré-atendimento concluído.\n\nCliente: {nome do cliente}\nTelefone: {telefone do cliente}\n\nO cliente já forneceu todas as informações necessárias. Assumir atendimento.”\n\nEssa mensagem será enviada para o número interno da imobiliária, para que um corretor humano continue o atendimento.\n\n⸻\n\nComportamentos Proibidos\n\nVocê NUNCA deve:\n\t•\tDizer que é uma IA.\n\t•\tDizer que está coletando dados para análise.\n\t•\tDizer que o pré-atendimento terminou.\n\t•\tInformar que um humano vai assumir.\n\t•\tContinuar respondendo depois que todas as informações forem coletadas.\n\n⸻\n\nComportamento Esperado\n\nO cliente deve sentir que está conversando com um corretor real, simpático e profissional, que está apenas entendendo melhor o perfil dele para ajudá-lo a encontrar um imóvel."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1616,464],"id":"3f48b5c5-d2bb-4737-93d7-086e66897b0a","name":"AI Agent"}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Filtrar e Extrair","type":"main","index":0}]]},"Filtrar e Extrair":{"main":[[{"node":"Verificar Audio","type":"main","index":0}]]},"Carregar Estado":{"main":[[{"node":"Rotear Acao","type":"main","index":0}]]},"Rotear Acao":{"main":[[{"node":"Ignorar Mensagem","type":"main","index":0}],[{"node":"Registrar Takeover","type":"main","index":0}],[{"node":"Preparar Request IA","type":"main","index":0}]]},"Preparar Request IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Processar Resposta IA":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Verificar Conclusao":{"main":[[{"node":"Aplicar Etiqueta","type":"main","index":0}],[{"node":"Continuar Ativo","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Verificar Conclusao","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Verificar Audio":{"main":[[{"node":"Baixar Audio","type":"main","index":0}],[{"node":"Carregar Estado","type":"main","index":0}]]},"Baixar Audio":{"main":[[{"node":"Converter para Binario","type":"main","index":0}]]},"Formatar Transcricao":{"main":[[{"node":"Carregar Estado","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Formatar Transcricao","type":"main","index":0}]]},"Converter para Binario":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Processar Resposta IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"global":{"convs":{"5521974329644@s.whatsapp.net":{"state":"active_ai","startedAt":"2026-03-10T19:25:21.291Z","name":"Vanessa Martins"}}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"66bcec63-7589-4f1d-8d5c-ae710d570c4f","activeVersionId":"66bcec63-7589-4f1d-8d5c-ae710d570c4f","versionCounter":66,"triggerCount":1,"shared":[{"updatedAt":"2026-03-10T12:04:32.653Z","createdAt":"2026-03-10T12:04:32.653Z","role":"workflow:owner","workflowId":"DRi4d9wHIoi6Jhfr","projectId":"PW8PqHHjOHMXCeNT","project":{"updatedAt":"2026-03-04T21:13:07.973Z","createdAt":"2026-03-04T21:11:31.278Z","id":"PW8PqHHjOHMXCeNT","name":"maicon oliveira <hokmatech@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"51253adc-c1d9-4b06-8e32-55190fac884c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-10T19:24:12.000Z","createdAt":"2026-03-10T19:23:21.748Z","versionId":"66bcec63-7589-4f1d-8d5c-ae710d570c4f","workflowId":"DRi4d9wHIoi6Jhfr","nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-webhook","options":{}},"id":"wh-001","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"11314f27-214a-4731-b1d7-fc5485b87af4"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = (input.body && input.body.event) ? input.body : input;\nconst rawEvent = (body.event || body.type || '').toLowerCase().replace(/_/g, '.');\nconsole.log('[FILTRO] event:', rawEvent, '| instance:', body.instance);\n\nif (rawEvent !== 'messages.upsert') { console.log('[FILTRO] Ignorado:', rawEvent); return []; }\n\nconst data = body.data || {};\nlet msg;\nif (Array.isArray(data.messages) && data.messages.length > 0) { msg = data.messages[0]; }\nelse if (data.key) { msg = data; }\nelse { console.log('[FILTRO] Sem mensagem em data'); return []; }\n\nconst key       = msg.key || {};\nconst remoteJid = key.remoteJid || '';\nconst fromMe    = key.fromMe === true;\nif (!remoteJid) return [];\nif (remoteJid.includes('@g.us')) { console.log('[FILTRO] Grupo ignorado'); return []; }\n\nconst msgObj   = msg.message || {};\nconst pushName = msg.pushName || 'Cliente';\nconst instance = body.instance || '';\n\nlet type = 'unknown', content = '', hasMedia = false;\n\nif (msgObj.conversation !== undefined)         { type = 'conversation';   content = msgObj.conversation || ''; }\nelse if (msgObj.extendedTextMessage)           { type = 'conversation';   content = msgObj.extendedTextMessage.text || ''; }\nelse if (msgObj.audioMessage || msgObj.pttMessage) { type = 'audioMessage';  hasMedia = true; }\nelse if (msgObj.imageMessage)                  { type = 'imageMessage';   content = msgObj.imageMessage.caption || '[Imagem recebida]'; hasMedia = true; }\nelse if (msgObj.documentMessage)               { type = 'documentMessage'; content = msgObj.documentMessage.caption || '[Documento recebido]'; hasMedia = true; }\nelse if (msgObj.buttonsResponseMessage)        { type = 'conversation';   content = msgObj.buttonsResponseMessage.selectedDisplayText || ''; }\nelse if (msgObj.listResponseMessage)           { type = 'conversation';   content = msgObj.listResponseMessage.title || ''; }\nelse if (msgObj.reactionMessage || msgObj.protocolMessage || msgObj.stickerMessage) { return []; }\nelse { console.log('[FILTRO] Tipo nao suportado:', Object.keys(msgObj).join(', ')); return []; }\n\nif (!content && !hasMedia) return [];\nconsole.log('[FILTRO] OK — type:', type, '| remoteJid:', remoteJid);\nreturn [{ json: { remoteJid, fromMe, pushName, type, content, hasMedia, instance, msgId: key.id } }];"},"id":"code-002","name":"Filtrar e Extrair","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst d  = $input.first().json;\nconst { remoteJid, fromMe, pushName } = d;\n\nif (!sd.convs) sd.convs = {};\nconst c = sd.convs[remoteJid] || { state: 'new', history: [], name: pushName, startedAt: new Date().toISOString() };\n\nlet action = 'process_ai';\nif      (c.state === 'human_takeover')      action = 'skip';\nelse if (c.state === 'pre_attendance_done') action = 'skip';\nelse if (fromMe && (c.state === 'active_ai' || c.state === 'new')) action = 'human_takeover';\nelse if (fromMe) action = 'skip';\n\nreturn [{ json: { ...d, action, convState: c.state, history: c.history || [], custName: c.name || pushName } }];\n"},"id":"code-003","name":"Carregar Estado","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"skip","operator":{"type":"string","operation":"equals"},"id":"26cac017-81b7-46dd-9322-8c52d821cd8c"}],"combinator":"and"},"renameOutput":true,"outputKey":"skip"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"human_takeover","operator":{"type":"string","operation":"equals"},"id":"29c27b31-0bcd-43e3-852b-5c6ea64c3e75"}],"combinator":"and"},"renameOutput":true,"outputKey":"human_takeover"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"process_ai","operator":{"type":"string","operation":"equals"},"id":"5dbbb79f-de94-49a4-b190-074ed198987c"}],"combinator":"and"},"renameOutput":true,"outputKey":"process_ai"}]},"options":{}},"id":"sw-004","name":"Rotear Acao","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1168,304]},{"parameters":{},"id":"noop-005","name":"Ignorar Mensagem","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,160]},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst { remoteJid } = $input.first().json;\nif (!sd.convs) sd.convs = {};\nif (!sd.convs[remoteJid]) sd.convs[remoteJid] = { state: 'new', history: [] };\nsd.convs[remoteJid].state   = 'human_takeover';\nsd.convs[remoteJid].humanAt = new Date().toISOString();\nconsole.log('[TAKEOVER] Humano assumiu: ' + remoteJid);\nreturn [{ json: { ok: true, remoteJid } }];\n"},"id":"code-006","name":"Registrar Takeover","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,304]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst { remoteJid, fromMe, pushName, type, content, hasMedia, instance } = input;\n\nlet userMessage = content || '';\n\n// Áudio: content já vem transcrito — passa direto com prefixo informativo\nif (type === 'audioMessage') {\n  userMessage = '[mensagem de voz]: ' + content;\n} else if (type === 'imageMessage') {\n  userMessage = '[Cliente enviou uma imagem]: ' + content;\n} else if (type === 'documentMessage') {\n  userMessage = '[Cliente enviou um documento]: ' + content;\n}\n\nreturn [{ json: { remoteJid, pushName, instance, content: userMessage, type } }];"},"id":"code-007","name":"Preparar Request IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,464]},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\n\n// Resposta do AI Agent\nlet aiResp = $input.first().json.output || '';\nif (!aiResp) aiResp = 'Olá! Tive uma dificuldade técnica. Pode repetir sua mensagem?';\n\n// Contexto de \"Preparar Request IA\"\nconst ctx       = $('Preparar Request IA').first().json;\nconst remoteJid = ctx.remoteJid || '';\nconst pushName  = ctx.pushName  || 'Cliente';\nconst instance  = ctx.instance  || '';\n\nconsole.log('[PARSE] remoteJid:', remoteJid, '| resp:', aiResp.slice(0, 60));\n\n// Checar flag de conclusão\nconst FLAG      = '[PRE_ATENDIMENTO_CONCLUIDO]';\nconst concluded = aiResp.includes(FLAG);\nconst clean     = aiResp.replace(FLAG, '').trim();\n\n// Atualizar estado (histórico fica no Postgres via AI Agent)\nif (!sd.convs) sd.convs = {};\nif (!sd.convs[remoteJid]) sd.convs[remoteJid] = { state: 'new', startedAt: new Date().toISOString() };\nsd.convs[remoteJid].state = concluded ? 'pre_attendance_done' : 'active_ai';\nsd.convs[remoteJid].name  = pushName;\nif (concluded) sd.convs[remoteJid].concludedAt = new Date().toISOString();\n\nconsole.log('[PARSE] Concluido:', concluded, '| Estado:', sd.convs[remoteJid].state);\nreturn [{ json: { remoteJid, instance, aiResp: clean, concluded, pushName } }];\n"},"id":"code-009","name":"Processar Resposta IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,464]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Processar Resposta IA').first().json.concluded }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-011","name":"Verificar Conclusao","type":"n8n-nodes-base.if","typeVersion":2,"position":[2832,464]},{"parameters":{},"id":"noop-013","name":"Continuar Ativo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3088,560]},{"parameters":{"resource":"messages-api","instanceName":"n8n-diego","remoteJid":"={{ $json.remoteJid }}","messageText":"={{ $json.aiResp }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2496,464],"id":"1307926c-0403-44c9-8b5b-815553070170","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ITmiNvsVzXYS6Vlr","name":"Evolution account 2"}}},{"parameters":{"method":"POST","url":"=https://kaizen-axis-n8n-evolution-api.2ut0z1.easypanel.host//label/handleLabel/n8n-diego","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"},{"name":"number","value":"={{ $('Processar Resposta IA').first().json.remoteJid }}"},{"name":"labelId","value":"23"},{"name":"action","value":"add"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Processar Resposta IA').first().json.remoteJid }}\",\n  \"labelId\": \"23\",\n  \"action\": \"add\"\n}\n","options":{"timeout":10000}},"id":"http-012","name":"Aplicar Etiqueta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3088,352]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Preparar Request IA').first().json.remoteJid }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1712,656],"id":"5b9f4b54-77e9-4ae1-af76-77b13e931228","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"eayHwOI4Y2tDfbUH","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-audio","leftValue":"={{ $json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-audio-001","name":"Verificar Audio","type":"n8n-nodes-base.if","typeVersion":2,"position":[704,304]},{"parameters":{"method":"POST","url":"https://kaizen-axis-n8n-evolution-api.2ut0z1.easypanel.host/chat/getBase64FromMediaMessage/n8n-diego","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"message\": { \"key\": { \"id\": $('Filtrar e Extrair').first().json.msgId, \"fromMe\": false, \"remoteJid\": $('Filtrar e Extrair').first().json.remoteJid } }, \"convertToMp4\": false }) }}","options":{}},"id":"http-audio-001","name":"Baixar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,544]},{"parameters":{"jsCode":"const whisperResp = $input.first().json;\nconst original    = $('Filtrar e Extrair').first().json;\n\nconst transcription = (whisperResp.text || '').trim();\nconsole.log('[AUDIO] Transcrição Whisper:', transcription ? transcription.slice(0, 100) : '(vazia)');\n\nreturn [{ json: {\n  remoteJid: original.remoteJid,\n  fromMe:    original.fromMe,\n  pushName:  original.pushName,\n  type:      'conversation',\n  content:   transcription || '[áudio não transcrito]',\n  hasMedia:  false,\n  instance:  original.instance,\n  msgId:     original.msgId\n} }];"},"id":"code-fmt-001","name":"Formatar Transcricao","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,544]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1008,544],"id":"eaf54732-8c2f-49d2-b13a-d017bc8c8a2a","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"LVOqj2PNDSgyQh3z","name":"OpenAi account"}}},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst base64   = inputData.base64;\nconst fileName = inputData.fileName || 'audio.ogg';\nconst mimeType = inputData.mimetype || 'audio/ogg; codecs=opus';\n\nif (!base64) throw new Error('base64 não encontrado na resposta do Baixar Audio');\n\nconst buffer     = Buffer.from(base64, 'base64');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, fileName, mimeType);\n\nreturn [{ json: {}, binary: { data: binaryData } }];"},"id":"code-bin-001","name":"Converter para Binario","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,544]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1616,656],"id":"44142ff0-2601-469e-9b39-9c5237acc6a4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"LVOqj2PNDSgyQh3z","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Preparar Request IA').first().json.content }}","options":{"systemMessage":"Você é um assistente virtual de pré-atendimento de uma imobiliária, atuando como um corretor imobiliário cordial, profissional e proativo.\n\nSeu objetivo é conversar de forma natural com o cliente, entender seu interesse em adquirir um imóvel e coletar algumas informações necessárias para análise de crédito e encaminhamento para um corretor humano.\n\nEstilo de Comunicação\n\t•\tSeja cordial, educado e profissional.\n\t•\tMantenha um tom conversacional e humano, como um corretor experiente faria no WhatsApp.\n\t•\tDemonstre interesse genuíno no cliente.\n\t•\tFaça uma pergunta por vez sempre que possível, para manter a conversa fluida.\n\t•\tUse frases naturais, curtas e fáceis de entender.\n\t•\tSeja engajado e proativo, guiando o cliente naturalmente até obter todas as informações necessárias.\n\t•\tNunca diga que está executando um fluxo ou processo interno.\n\t•\tNunca diga que é uma IA.\n\n⸻\n\nObjetivo do Pré-Atendimento\n\nSeu objetivo é coletar as seguintes informações do cliente durante a conversa:\n\t1.\tNome\n\t2.\tRegião de interesse para o imóvel\n\t3.\tTrabalha de carteira assinada\n\t4.\tProfissão\n\t5.\tHá quanto tempo está no emprego atual\n\t6.\tEstado civil (se é casado(a) no papel)\n\t7.\tSe possui filhos\n\t8.\tSe possui filhos, perguntar a idade\n\t9.\tSe sabe se possui restrição no CPF\n\t10.\tValor da renda bruta mensal (valor antes dos descontos)\n\n⸻\n\nEstratégia de Conversa\n\t•\tNão faça todas as perguntas de uma vez.\n\t•\tVá coletando as informações de forma natural durante a conversa.\n\t•\tUse transições naturais, por exemplo:\n\nExemplos de condução:\n\t•\t“Pra eu te ajudar melhor, qual é seu nome?”\n\t•\t“Você está procurando imóvel em qual região?”\n\t•\t“Hoje você trabalha de carteira assinada?”\n\t•\t“Qual é sua profissão?”\n\t•\t“E já está nesse emprego há quanto tempo?”\n\t•\t“Você é casado(a) no papel ou solteiro(a)?”\n\t•\t“Tem filhos?”\n\t•\t“Se tiver filhos, qual a idade deles?”\n\t•\t“Você sabe me dizer se tem alguma restrição no CPF?”\n\t•\t“E qual é sua renda bruta mensal, aquele valor antes dos descontos?”\n\nSe o cliente não souber alguma informação, continue normalmente com a conversa.\n\n⸻\n\nRegras Importantes\n\nQuando todas as informações obrigatórias forem coletadas:\n\t1.\tPare imediatamente de responder o cliente.\n\t2.\tNão envie nenhuma mensagem informando que o atendimento será transferido.\n\t3.\tNão faça despedidas.\n\t4.\tNão informe que o pré-atendimento terminou.\n\nO atendimento será assumido por um corretor humano, portanto você deve simplesmente parar de responder.\n\n⸻\n\nAção Interna (disparo para humano)\n\nApós coletar todas as informações, gere uma mensagem interna para notificação contendo:\n\nMensagem de notificação:\n\n“Pré-atendimento concluído.\n\nCliente: {nome do cliente}\nTelefone: {telefone do cliente}\n\nO cliente já forneceu todas as informações necessárias. Assumir atendimento.”\n\nEssa mensagem será enviada para o número interno da imobiliária, para que um corretor humano continue o atendimento.\n\n⸻\n\nComportamentos Proibidos\n\nVocê NUNCA deve:\n\t•\tDizer que é uma IA.\n\t•\tDizer que está coletando dados para análise.\n\t•\tDizer que o pré-atendimento terminou.\n\t•\tInformar que um humano vai assumir.\n\t•\tContinuar respondendo depois que todas as informações forem coletadas.\n\n⸻\n\nComportamento Esperado\n\nO cliente deve sentir que está conversando com um corretor real, simpático e profissional, que está apenas entendendo melhor o perfil dele para ajudá-lo a encontrar um imóvel."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1616,464],"id":"3f48b5c5-d2bb-4737-93d7-086e66897b0a","name":"AI Agent"}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Filtrar e Extrair","type":"main","index":0}]]},"Filtrar e Extrair":{"main":[[{"node":"Verificar Audio","type":"main","index":0}]]},"Carregar Estado":{"main":[[{"node":"Rotear Acao","type":"main","index":0}]]},"Rotear Acao":{"main":[[{"node":"Ignorar Mensagem","type":"main","index":0}],[{"node":"Registrar Takeover","type":"main","index":0}],[{"node":"Preparar Request IA","type":"main","index":0}]]},"Preparar Request IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Processar Resposta IA":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Verificar Conclusao":{"main":[[{"node":"Aplicar Etiqueta","type":"main","index":0}],[{"node":"Continuar Ativo","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Verificar Conclusao","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Verificar Audio":{"main":[[{"node":"Baixar Audio","type":"main","index":0}],[{"node":"Carregar Estado","type":"main","index":0}]]},"Baixar Audio":{"main":[[{"node":"Converter para Binario","type":"main","index":0}]]},"Formatar Transcricao":{"main":[[{"node":"Carregar Estado","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Formatar Transcricao","type":"main","index":0}]]},"Converter para Binario":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Processar Resposta IA","type":"main","index":0}]]}},"authors":"maicon oliveira","name":"Version 66bcec63","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-10T19:24:12.432Z","id":21,"workflowId":"DRi4d9wHIoi6Jhfr","versionId":"66bcec63-7589-4f1d-8d5c-ae710d570c4f","event":"activated","userId":"51253adc-c1d9-4b06-8e32-55190fac884c"}]}}