wf_live.json
{"updatedAt":"2026-03-10T21:14:23.052Z","createdAt":"2026-03-10T12:04:32.642Z","id":"DRi4d9wHIoi6Jhfr","name":"WhatsApp Pre-Atendimento - DIEGO","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-webhook","options":{}},"id":"wh-001","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"11314f27-214a-4731-b1d7-fc5485b87af4"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = (input.body && input.body.event) ? input.body : input;\nconst rawEvent = (body.event || body.type || '').toLowerCase().replace(/_/g, '.');\nconsole.log('[FILTRO] event:', rawEvent, '| instance:', body.instance);\n\nif (rawEvent !== 'messages.upsert') { console.log('[FILTRO] Ignorado:', rawEvent); return []; }\n\nconst data = body.data || {};\nlet msg;\nif (Array.isArray(data.messages) && data.messages.length > 0) { msg = data.messages[0]; }\nelse if (data.key) { msg = data; }\nelse { console.log('[FILTRO] Sem mensagem em data'); return []; }\n\nconst key       = msg.key || {};\nconst remoteJid = key.remoteJid || '';\nconst fromMe    = key.fromMe === true;\nif (!remoteJid) return [];\nif (remoteJid.includes('@g.us')) { console.log('[FILTRO] Grupo ignorado'); return []; }\n\nconst msgObj   = msg.message || {};\nconst pushName = msg.pushName || 'Cliente';\nconst instance = body.instance || '';\n\nlet type = 'unknown', content = '', hasMedia = false;\n\nif (msgObj.conversation !== undefined)         { type = 'conversation';   content = msgObj.conversation || ''; }\nelse if (msgObj.extendedTextMessage)           { type = 'conversation';   content = msgObj.extendedTextMessage.text || ''; }\nelse if (msgObj.audioMessage || msgObj.pttMessage) { type = 'audioMessage';  hasMedia = true; }\nelse if (msgObj.imageMessage)                  { type = 'imageMessage';   content = msgObj.imageMessage.caption || '[Imagem recebida]'; hasMedia = true; }\nelse if (msgObj.documentMessage)               { type = 'documentMessage'; content = msgObj.documentMessage.caption || '[Documento recebido]'; hasMedia = true; }\nelse if (msgObj.buttonsResponseMessage)        { type = 'conversation';   content = msgObj.buttonsResponseMessage.selectedDisplayText || ''; }\nelse if (msgObj.listResponseMessage)           { type = 'conversation';   content = msgObj.listResponseMessage.title || ''; }\nelse if (msgObj.reactionMessage || msgObj.protocolMessage || msgObj.stickerMessage) { return []; }\nelse { console.log('[FILTRO] Tipo nao suportado:', Object.keys(msgObj).join(', ')); return []; }\n\nif (!content && !hasMedia) return [];\nconsole.log('[FILTRO] OK — type:', type, '| remoteJid:', remoteJid);\nreturn [{ json: { remoteJid, fromMe, pushName, type, content, hasMedia, instance, msgId: key.id } }];"},"id":"code-002","name":"Filtrar e Extrair","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst d  = $input.first().json;\nconst { remoteJid, fromMe, pushName } = d;\n\nif (!sd.convs) sd.convs = {};\nconst c = sd.convs[remoteJid] || { state: 'new', history: [], name: pushName, startedAt: new Date().toISOString() };\n\nlet action = 'process_ai';\nif      (c.state === 'human_takeover')      action = 'skip';\nelse if (c.state === 'pre_attendance_done') action = 'skip';\nelse if (fromMe && (c.state === 'active_ai' || c.state === 'new')) action = 'human_takeover';\nelse if (fromMe) action = 'skip';\n\nreturn [{ json: { ...d, action, convState: c.state, history: c.history || [], custName: c.name || pushName } }];\n"},"id":"code-003","name":"Carregar Estado","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"skip","operator":{"type":"string","operation":"equals"},"id":"26cac017-81b7-46dd-9322-8c52d821cd8c"}],"combinator":"and"},"renameOutput":true,"outputKey":"skip"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"human_takeover","operator":{"type":"string","operation":"equals"},"id":"29c27b31-0bcd-43e3-852b-5c6ea64c3e75"}],"combinator":"and"},"renameOutput":true,"outputKey":"human_takeover"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"process_ai","operator":{"type":"string","operation":"equals"},"id":"5dbbb79f-de94-49a4-b190-074ed198987c"}],"combinator":"and"},"renameOutput":true,"outputKey":"process_ai"}]},"options":{}},"id":"sw-004","name":"Rotear Acao","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1168,304]},{"parameters":{},"id":"noop-005","name":"Ignorar Mensagem","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,160]},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst { remoteJid } = $input.first().json;\nif (!sd.convs) sd.convs = {};\nif (!sd.convs[remoteJid]) sd.convs[remoteJid] = { state: 'new', history: [] };\nsd.convs[remoteJid].state   = 'human_takeover';\nsd.convs[remoteJid].humanAt = new Date().toISOString();\nconsole.log('[TAKEOVER] Humano assumiu: ' + remoteJid);\nreturn [{ json: { ok: true, remoteJid } }];\n"},"id":"code-006","name":"Registrar Takeover","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,304]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst { remoteJid, fromMe, pushName, type, content, hasMedia, instance } = input;\n\nlet userMessage = content || '';\n\n// Áudio: content já vem transcrito — passa direto com prefixo informativo\nif (type === 'audioMessage') {\n  userMessage = '[mensagem de voz]: ' + content;\n} else if (type === 'imageMessage') {\n  userMessage = '[Cliente enviou uma imagem]: ' + content;\n} else if (type === 'documentMessage') {\n  userMessage = '[Cliente enviou um documento]: ' + content;\n}\n\nreturn [{ json: { remoteJid, pushName, instance, content: userMessage, type } }];"},"id":"code-007","name":"Preparar Request IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,464]},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\n\n// Resposta do AI Agent\nlet aiResp = $input.first().json.output || '';\nif (!aiResp) aiResp = 'Olá! Tive uma dificuldade técnica. Pode repetir sua mensagem?';\n\n// Contexto de \"Preparar Request IA\"\nconst ctx       = $('Preparar Request IA').first().json;\nconst remoteJid = ctx.remoteJid || '';\nconst pushName  = ctx.pushName  || 'Cliente';\nconst instance  = ctx.instance  || '';\n\nconsole.log('[PARSE] remoteJid:', remoteJid, '| resp:', aiResp.slice(0, 60));\n\n// Checar flag de conclusão\nconst FLAG      = '[PRE_ATENDIMENTO_CONCLUIDO]';\nconst concluded = aiResp.includes(FLAG);\nconst clean     = aiResp.replace(FLAG, '').trim();\n\n// Atualizar estado (histórico fica no Postgres via AI Agent)\nif (!sd.convs) sd.convs = {};\nif (!sd.convs[remoteJid]) sd.convs[remoteJid] = { state: 'new', startedAt: new Date().toISOString() };\nsd.convs[remoteJid].state = concluded ? 'pre_attendance_done' : 'active_ai';\nsd.convs[remoteJid].name  = pushName;\nif (concluded) sd.convs[remoteJid].concludedAt = new Date().toISOString();\n\nconsole.log('[PARSE] Concluido:', concluded, '| Estado:', sd.convs[remoteJid].state);\nreturn [{ json: { remoteJid, instance, aiResp: clean, concluded, pushName } }];\n"},"id":"code-009","name":"Processar Resposta IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,464]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Processar Resposta IA').first().json.concluded }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-011","name":"Verificar Conclusao","type":"n8n-nodes-base.if","typeVersion":2,"position":[2832,464]},{"parameters":{},"id":"noop-013","name":"Continuar Ativo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3088,560]},{"parameters":{"resource":"messages-api","instanceName":"n8n-diego","remoteJid":"={{ $json.remoteJid }}","messageText":"={{ $json.aiResp }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2496,464],"id":"1307926c-0403-44c9-8b5b-815553070170","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ITmiNvsVzXYS6Vlr","name":"Evolution account 2"}}},{"parameters":{"method":"POST","url":"https://kaizen-axis-n8n-evolution-api.2ut0z1.easypanel.host/message/sendText/n8n-diego","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"number\": \"5521975409408\",\n  \"text\": \"✅ *Pré-atendimento concluído!*\\n\\n👤 *Cliente:* \" + ($('Processar Resposta IA').first().json.pushName || 'Desconhecido') + \"\\n📱 *Número:* \" + $('Processar Resposta IA').first().json.remoteJid.replace('@s.whatsapp.net', '') + \"\\n\\nO pré-atendimento foi concluído pela IA. Aguardando atendente humano.\"\n}) }}","options":{}},"id":"http-012","name":"Aplicar Etiqueta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3088,352]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Preparar Request IA').first().json.remoteJid }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1712,656],"id":"5b9f4b54-77e9-4ae1-af76-77b13e931228","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"eayHwOI4Y2tDfbUH","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-audio","leftValue":"={{ $json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-audio-001","name":"Verificar Audio","type":"n8n-nodes-base.if","typeVersion":2,"position":[704,304]},{"parameters":{"method":"POST","url":"https://kaizen-axis-n8n-evolution-api.2ut0z1.easypanel.host/chat/getBase64FromMediaMessage/n8n-diego","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"message\": { \"key\": { \"id\": $('Filtrar e Extrair').first().json.msgId, \"fromMe\": false, \"remoteJid\": $('Filtrar e Extrair').first().json.remoteJid } }, \"convertToMp4\": false }) }}","options":{}},"id":"http-audio-001","name":"Baixar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,544]},{"parameters":{"jsCode":"const whisperResp = $input.first().json;\nconst original    = $('Filtrar e Extrair').first().json;\n\nconst transcription = (whisperResp.text || '').trim();\nconsole.log('[AUDIO] Transcrição Whisper:', transcription ? transcription.slice(0, 100) : '(vazia)');\n\nreturn [{ json: {\n  remoteJid: original.remoteJid,\n  fromMe:    original.fromMe,\n  pushName:  original.pushName,\n  type:      'conversation',\n  content:   transcription || '[áudio não transcrito]',\n  hasMedia:  false,\n  instance:  original.instance,\n  msgId:     original.msgId\n} }];"},"id":"code-fmt-001","name":"Formatar Transcricao","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,544]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1008,544],"id":"eaf54732-8c2f-49d2-b13a-d017bc8c8a2a","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"LVOqj2PNDSgyQh3z","name":"OpenAi account"}}},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst base64   = inputData.base64;\nconst fileName = inputData.fileName || 'audio.ogg';\nconst mimeType = inputData.mimetype || 'audio/ogg; codecs=opus';\n\nif (!base64) throw new Error('base64 não encontrado na resposta do Baixar Audio');\n\nconst buffer     = Buffer.from(base64, 'base64');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, fileName, mimeType);\n\nreturn [{ json: {}, binary: { data: binaryData } }];"},"id":"code-bin-001","name":"Converter para Binario","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,544]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1616,656],"id":"44142ff0-2601-469e-9b39-9c5237acc6a4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"LVOqj2PNDSgyQh3z","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Preparar Request IA').first().json.content }}","options":{"systemMessage":"Você é um assistente virtual de pré-atendimento chamado Everson Diego atuando como um corretor imobiliário cordial, profissional e proativo.\n\nSeu objetivo é coletar as informações necessárias para análise de crédito e encaminhamento para um corretor humano.\n\nEstilo de Comunicação\n\nSeja cordial, educado e profissional.\nMantenha um tom conversacional e humano, como um corretor experiente faria no WhatsApp.\nUse frases naturais e fáceis de entender.\nNunca diga que está executando um fluxo ou processo interno.\nNunca diga que é uma IA.\nEstratégia de Conversa\n\nNa primeira mensagem, após cumprimentar o cliente, envie todas as perguntas de uma vez em formato de lista numerada, de forma amigável e natural. Exemplo:\n\n\"Olá! Fico feliz em te atender 😊 Pra agilizar o seu atendimento preciso de algumas informações rápidas:\n\nQual o seu nome?\n\nVocê trabalha de carteira assinada?\n\nHá quanto tempo está nesse emprego?\n\nVocê é casado(a) no papel ou solteiro(a)?\n\nTem filhos? Se sim, qual a idade deles?\n\nVocê tem alguma restrição no CPF?\n\nQual é a sua renda bruta mensal (o valor antes dos descontos)?\n\nPode responder à vontade!\"\n\nQuando o cliente responder:\n\nAnalise quais informações foram fornecidas e quais ainda estão faltando.\nSe todas as informações foram respondidas, conclua (ver seção abaixo).\nSe alguma informação estiver faltando ou incompleta, pergunte somente pelas que faltam, de forma natural. Exemplo:\n\"Obrigado! Só faltou me informar: você tem alguma restrição no CPF e qual é a sua renda bruta mensal?\"\n\nRepita esse processo até ter todas as informações.\nSe o cliente disser que não sabe alguma informação, aceite e continue com as demais.\nInformações obrigatórias a coletar:\n\nNome\n\nTrabalha de carteira assinada (sim/não)\n\nHá quanto tempo está no emprego atual\n\nEstado civil (casado(a) no papel ou não)\n\nSe possui filhos: idade dos filhos\n\nSe possui restrição no CPF\n\nValor da renda bruta mensal\n\nQuando todas as informações forem coletadas:\n\nNão envie nenhuma mensagem de despedida ao cliente.\nNão informe que o atendimento será transferido.\nNão diga que o pré-atendimento terminou.\nAdicione EXATAMENTE o texto [PRE_ATENDIMENTO_CONCLUIDO] ao final da sua última resposta (ou sozinho, sem nenhum texto antes).\nO sistema detecta esse marcador automaticamente e encerra o atendimento.\nComportamentos Proibidos\n\nNunca diga que é uma IA.\nNunca diga que está coletando dados para análise.\nNunca diga que o pré-atendimento terminou.\nNunca informe que um humano vai assumir.\nNunca continue respondendo após emitir o marcador [PRE_ATENDIMENTO_CONCLUIDO].\nComportamento Esperado\n\nO cliente deve sentir que está conversando com um corretor real, simpático e eficiente, que está apenas entendendo melhor o perfil dele para ajudá-lo a encontrar o imóvel ideal."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1616,464],"id":"3f48b5c5-d2bb-4737-93d7-086e66897b0a","name":"AI Agent"}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Filtrar e Extrair","type":"main","index":0}]]},"Filtrar e Extrair":{"main":[[{"node":"Verificar Audio","type":"main","index":0}]]},"Carregar Estado":{"main":[[{"node":"Rotear Acao","type":"main","index":0}]]},"Rotear Acao":{"main":[[{"node":"Ignorar Mensagem","type":"main","index":0}],[{"node":"Registrar Takeover","type":"main","index":0}],[{"node":"Preparar Request IA","type":"main","index":0}]]},"Preparar Request IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Processar Resposta IA":{"main":[[{"node":"Verificar Conclusao","type":"main","index":0}]]},"Verificar Conclusao":{"main":[[{"node":"Aplicar Etiqueta","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Continuar Ativo","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Verificar Audio":{"main":[[{"node":"Baixar Audio","type":"main","index":0}],[{"node":"Carregar Estado","type":"main","index":0}]]},"Baixar Audio":{"main":[[{"node":"Converter para Binario","type":"main","index":0}]]},"Formatar Transcricao":{"main":[[{"node":"Carregar Estado","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Formatar Transcricao","type":"main","index":0}]]},"Converter para Binario":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Processar Resposta IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"global":{"convs":{"5521989119172@s.whatsapp.net":{"state":"pre_attendance_done","startedAt":"2026-03-10T19:46:02.243Z","name":"Marvyn Landes","concludedAt":"2026-03-10T19:48:11.063Z"},"5521999054185@s.whatsapp.net":{"state":"active_ai","startedAt":"2026-03-10T21:01:43.093Z","name":"Jean Rocha - VOCÊ"},"5521967815139@s.whatsapp.net":{"state":"active_ai","startedAt":"2026-03-10T21:04:38.000Z","name":"Vitor Emanuel Serafim"},"5521974329644@s.whatsapp.net":{"state":"pre_attendance_done","startedAt":"2026-03-10T21:10:16.288Z","name":"Vanessa Martins","concludedAt":"2026-03-10T21:10:16.288Z"},"5521969175303@s.whatsapp.net":{"state":"active_ai","startedAt":"2026-03-10T21:11:36.690Z","name":"Matheus corretor"},"5521974657027@s.whatsapp.net":{"state":"pre_attendance_done","startedAt":"2026-03-10T21:40:06.761Z","name":"Maicon Oliveira","concludedAt":"2026-03-10T21:40:06.761Z"}}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6c1ba103-9ad4-41ab-ad76-d26f03cc9940","activeVersionId":"6c1ba103-9ad4-41ab-ad76-d26f03cc9940","versionCounter":136,"triggerCount":1,"shared":[{"updatedAt":"2026-03-10T12:04:32.653Z","createdAt":"2026-03-10T12:04:32.653Z","role":"workflow:owner","workflowId":"DRi4d9wHIoi6Jhfr","projectId":"PW8PqHHjOHMXCeNT","project":{"updatedAt":"2026-03-04T21:13:07.973Z","createdAt":"2026-03-04T21:11:31.278Z","id":"PW8PqHHjOHMXCeNT","name":"maicon oliveira <hokmatech@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"51253adc-c1d9-4b06-8e32-55190fac884c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-10T21:45:04.000Z","createdAt":"2026-03-10T21:14:23.053Z","versionId":"6c1ba103-9ad4-41ab-ad76-d26f03cc9940","workflowId":"DRi4d9wHIoi6Jhfr","nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-webhook","options":{}},"id":"wh-001","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"11314f27-214a-4731-b1d7-fc5485b87af4"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = (input.body && input.body.event) ? input.body : input;\nconst rawEvent = (body.event || body.type || '').toLowerCase().replace(/_/g, '.');\nconsole.log('[FILTRO] event:', rawEvent, '| instance:', body.instance);\n\nif (rawEvent !== 'messages.upsert') { console.log('[FILTRO] Ignorado:', rawEvent); return []; }\n\nconst data = body.data || {};\nlet msg;\nif (Array.isArray(data.messages) && data.messages.length > 0) { msg = data.messages[0]; }\nelse if (data.key) { msg = data; }\nelse { console.log('[FILTRO] Sem mensagem em data'); return []; }\n\nconst key       = msg.key || {};\nconst remoteJid = key.remoteJid || '';\nconst fromMe    = key.fromMe === true;\nif (!remoteJid) return [];\nif (remoteJid.includes('@g.us')) { console.log('[FILTRO] Grupo ignorado'); return []; }\n\nconst msgObj   = msg.message || {};\nconst pushName = msg.pushName || 'Cliente';\nconst instance = body.instance || '';\n\nlet type = 'unknown', content = '', hasMedia = false;\n\nif (msgObj.conversation !== undefined)         { type = 'conversation';   content = msgObj.conversation || ''; }\nelse if (msgObj.extendedTextMessage)           { type = 'conversation';   content = msgObj.extendedTextMessage.text || ''; }\nelse if (msgObj.audioMessage || msgObj.pttMessage) { type = 'audioMessage';  hasMedia = true; }\nelse if (msgObj.imageMessage)                  { type = 'imageMessage';   content = msgObj.imageMessage.caption || '[Imagem recebida]'; hasMedia = true; }\nelse if (msgObj.documentMessage)               { type = 'documentMessage'; content = msgObj.documentMessage.caption || '[Documento recebido]'; hasMedia = true; }\nelse if (msgObj.buttonsResponseMessage)        { type = 'conversation';   content = msgObj.buttonsResponseMessage.selectedDisplayText || ''; }\nelse if (msgObj.listResponseMessage)           { type = 'conversation';   content = msgObj.listResponseMessage.title || ''; }\nelse if (msgObj.reactionMessage || msgObj.protocolMessage || msgObj.stickerMessage) { return []; }\nelse { console.log('[FILTRO] Tipo nao suportado:', Object.keys(msgObj).join(', ')); return []; }\n\nif (!content && !hasMedia) return [];\nconsole.log('[FILTRO] OK — type:', type, '| remoteJid:', remoteJid);\nreturn [{ json: { remoteJid, fromMe, pushName, type, content, hasMedia, instance, msgId: key.id } }];"},"id":"code-002","name":"Filtrar e Extrair","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst d  = $input.first().json;\nconst { remoteJid, fromMe, pushName } = d;\n\nif (!sd.convs) sd.convs = {};\nconst c = sd.convs[remoteJid] || { state: 'new', history: [], name: pushName, startedAt: new Date().toISOString() };\n\nlet action = 'process_ai';\nif      (c.state === 'human_takeover')      action = 'skip';\nelse if (c.state === 'pre_attendance_done') action = 'skip';\nelse if (fromMe && (c.state === 'active_ai' || c.state === 'new')) action = 'human_takeover';\nelse if (fromMe) action = 'skip';\n\nreturn [{ json: { ...d, action, convState: c.state, history: c.history || [], custName: c.name || pushName } }];\n"},"id":"code-003","name":"Carregar Estado","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"skip","operator":{"type":"string","operation":"equals"},"id":"26cac017-81b7-46dd-9322-8c52d821cd8c"}],"combinator":"and"},"renameOutput":true,"outputKey":"skip"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"human_takeover","operator":{"type":"string","operation":"equals"},"id":"29c27b31-0bcd-43e3-852b-5c6ea64c3e75"}],"combinator":"and"},"renameOutput":true,"outputKey":"human_takeover"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"process_ai","operator":{"type":"string","operation":"equals"},"id":"5dbbb79f-de94-49a4-b190-074ed198987c"}],"combinator":"and"},"renameOutput":true,"outputKey":"process_ai"}]},"options":{}},"id":"sw-004","name":"Rotear Acao","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1168,304]},{"parameters":{},"id":"noop-005","name":"Ignorar Mensagem","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,160]},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst { remoteJid } = $input.first().json;\nif (!sd.convs) sd.convs = {};\nif (!sd.convs[remoteJid]) sd.convs[remoteJid] = { state: 'new', history: [] };\nsd.convs[remoteJid].state   = 'human_takeover';\nsd.convs[remoteJid].humanAt = new Date().toISOString();\nconsole.log('[TAKEOVER] Humano assumiu: ' + remoteJid);\nreturn [{ json: { ok: true, remoteJid } }];\n"},"id":"code-006","name":"Registrar Takeover","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,304]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst { remoteJid, fromMe, pushName, type, content, hasMedia, instance } = input;\n\nlet userMessage = content || '';\n\n// Áudio: content já vem transcrito — passa direto com prefixo informativo\nif (type === 'audioMessage') {\n  userMessage = '[mensagem de voz]: ' + content;\n} else if (type === 'imageMessage') {\n  userMessage = '[Cliente enviou uma imagem]: ' + content;\n} else if (type === 'documentMessage') {\n  userMessage = '[Cliente enviou um documento]: ' + content;\n}\n\nreturn [{ json: { remoteJid, pushName, instance, content: userMessage, type } }];"},"id":"code-007","name":"Preparar Request IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,464]},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\n\n// Resposta do AI Agent\nlet aiResp = $input.first().json.output || '';\nif (!aiResp) aiResp = 'Olá! Tive uma dificuldade técnica. Pode repetir sua mensagem?';\n\n// Contexto de \"Preparar Request IA\"\nconst ctx       = $('Preparar Request IA').first().json;\nconst remoteJid = ctx.remoteJid || '';\nconst pushName  = ctx.pushName  || 'Cliente';\nconst instance  = ctx.instance  || '';\n\nconsole.log('[PARSE] remoteJid:', remoteJid, '| resp:', aiResp.slice(0, 60));\n\n// Checar flag de conclusão\nconst FLAG      = '[PRE_ATENDIMENTO_CONCLUIDO]';\nconst concluded = aiResp.includes(FLAG);\nconst clean     = aiResp.replace(FLAG, '').trim();\n\n// Atualizar estado (histórico fica no Postgres via AI Agent)\nif (!sd.convs) sd.convs = {};\nif (!sd.convs[remoteJid]) sd.convs[remoteJid] = { state: 'new', startedAt: new Date().toISOString() };\nsd.convs[remoteJid].state = concluded ? 'pre_attendance_done' : 'active_ai';\nsd.convs[remoteJid].name  = pushName;\nif (concluded) sd.convs[remoteJid].concludedAt = new Date().toISOString();\n\nconsole.log('[PARSE] Concluido:', concluded, '| Estado:', sd.convs[remoteJid].state);\nreturn [{ json: { remoteJid, instance, aiResp: clean, concluded, pushName } }];\n"},"id":"code-009","name":"Processar Resposta IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,464]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Processar Resposta IA').first().json.concluded }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-011","name":"Verificar Conclusao","type":"n8n-nodes-base.if","typeVersion":2,"position":[2832,464]},{"parameters":{},"id":"noop-013","name":"Continuar Ativo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3088,560]},{"parameters":{"resource":"messages-api","instanceName":"n8n-diego","remoteJid":"={{ $json.remoteJid }}","messageText":"={{ $json.aiResp }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2496,464],"id":"1307926c-0403-44c9-8b5b-815553070170","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ITmiNvsVzXYS6Vlr","name":"Evolution account 2"}}},{"parameters":{"method":"POST","url":"https://kaizen-axis-n8n-evolution-api.2ut0z1.easypanel.host/message/sendText/n8n-diego","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  \"number\": \"5521975409408\",\n  \"text\": \"✅ *Pré-atendimento concluído!*\\n\\n👤 *Cliente:* \" + ($('Processar Resposta IA').first().json.pushName || 'Desconhecido') + \"\\n📱 *Número:* \" + $('Processar Resposta IA').first().json.remoteJid.replace('@s.whatsapp.net', '') + \"\\n\\nO pré-atendimento foi concluído pela IA. Aguardando atendente humano.\"\n}) }}","options":{}},"id":"http-012","name":"Aplicar Etiqueta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3088,352]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Preparar Request IA').first().json.remoteJid }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1712,656],"id":"5b9f4b54-77e9-4ae1-af76-77b13e931228","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"eayHwOI4Y2tDfbUH","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-audio","leftValue":"={{ $json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-audio-001","name":"Verificar Audio","type":"n8n-nodes-base.if","typeVersion":2,"position":[704,304]},{"parameters":{"method":"POST","url":"https://kaizen-axis-n8n-evolution-api.2ut0z1.easypanel.host/chat/getBase64FromMediaMessage/n8n-diego","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"message\": { \"key\": { \"id\": $('Filtrar e Extrair').first().json.msgId, \"fromMe\": false, \"remoteJid\": $('Filtrar e Extrair').first().json.remoteJid } }, \"convertToMp4\": false }) }}","options":{}},"id":"http-audio-001","name":"Baixar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,544]},{"parameters":{"jsCode":"const whisperResp = $input.first().json;\nconst original    = $('Filtrar e Extrair').first().json;\n\nconst transcription = (whisperResp.text || '').trim();\nconsole.log('[AUDIO] Transcrição Whisper:', transcription ? transcription.slice(0, 100) : '(vazia)');\n\nreturn [{ json: {\n  remoteJid: original.remoteJid,\n  fromMe:    original.fromMe,\n  pushName:  original.pushName,\n  type:      'conversation',\n  content:   transcription || '[áudio não transcrito]',\n  hasMedia:  false,\n  instance:  original.instance,\n  msgId:     original.msgId\n} }];"},"id":"code-fmt-001","name":"Formatar Transcricao","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,544]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1008,544],"id":"eaf54732-8c2f-49d2-b13a-d017bc8c8a2a","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"LVOqj2PNDSgyQh3z","name":"OpenAi account"}}},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst base64   = inputData.base64;\nconst fileName = inputData.fileName || 'audio.ogg';\nconst mimeType = inputData.mimetype || 'audio/ogg; codecs=opus';\n\nif (!base64) throw new Error('base64 não encontrado na resposta do Baixar Audio');\n\nconst buffer     = Buffer.from(base64, 'base64');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, fileName, mimeType);\n\nreturn [{ json: {}, binary: { data: binaryData } }];"},"id":"code-bin-001","name":"Converter para Binario","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,544]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1616,656],"id":"44142ff0-2601-469e-9b39-9c5237acc6a4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"LVOqj2PNDSgyQh3z","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Preparar Request IA').first().json.content }}","options":{"systemMessage":"Você é um assistente virtual de pré-atendimento chamado Everson Diego atuando como um corretor imobiliário cordial, profissional e proativo.\n\nSeu objetivo é coletar as informações necessárias para análise de crédito e encaminhamento para um corretor humano.\n\nEstilo de Comunicação\n\nSeja cordial, educado e profissional.\nMantenha um tom conversacional e humano, como um corretor experiente faria no WhatsApp.\nUse frases naturais e fáceis de entender.\nNunca diga que está executando um fluxo ou processo interno.\nNunca diga que é uma IA.\nEstratégia de Conversa\n\nNa primeira mensagem, após cumprimentar o cliente, envie todas as perguntas de uma vez em formato de lista numerada, de forma amigável e natural. Exemplo:\n\n\"Olá! Fico feliz em te atender 😊 Pra agilizar o seu atendimento preciso de algumas informações rápidas:\n\nQual o seu nome?\n\nVocê trabalha de carteira assinada?\n\nHá quanto tempo está nesse emprego?\n\nVocê é casado(a) no papel ou solteiro(a)?\n\nTem filhos? Se sim, qual a idade deles?\n\nVocê tem alguma restrição no CPF?\n\nQual é a sua renda bruta mensal (o valor antes dos descontos)?\n\nPode responder à vontade!\"\n\nQuando o cliente responder:\n\nAnalise quais informações foram fornecidas e quais ainda estão faltando.\nSe todas as informações foram respondidas, conclua (ver seção abaixo).\nSe alguma informação estiver faltando ou incompleta, pergunte somente pelas que faltam, de forma natural. Exemplo:\n\"Obrigado! Só faltou me informar: você tem alguma restrição no CPF e qual é a sua renda bruta mensal?\"\n\nRepita esse processo até ter todas as informações.\nSe o cliente disser que não sabe alguma informação, aceite e continue com as demais.\nInformações obrigatórias a coletar:\n\nNome\n\nTrabalha de carteira assinada (sim/não)\n\nHá quanto tempo está no emprego atual\n\nEstado civil (casado(a) no papel ou não)\n\nSe possui filhos: idade dos filhos\n\nSe possui restrição no CPF\n\nValor da renda bruta mensal\n\nQuando todas as informações forem coletadas:\n\nNão envie nenhuma mensagem de despedida ao cliente.\nNão informe que o atendimento será transferido.\nNão diga que o pré-atendimento terminou.\nAdicione EXATAMENTE o texto [PRE_ATENDIMENTO_CONCLUIDO] ao final da sua última resposta (ou sozinho, sem nenhum texto antes).\nO sistema detecta esse marcador automaticamente e encerra o atendimento.\nComportamentos Proibidos\n\nNunca diga que é uma IA.\nNunca diga que está coletando dados para análise.\nNunca diga que o pré-atendimento terminou.\nNunca informe que um humano vai assumir.\nNunca continue respondendo após emitir o marcador [PRE_ATENDIMENTO_CONCLUIDO].\nComportamento Esperado\n\nO cliente deve sentir que está conversando com um corretor real, simpático e eficiente, que está apenas entendendo melhor o perfil dele para ajudá-lo a encontrar o imóvel ideal."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1616,464],"id":"3f48b5c5-d2bb-4737-93d7-086e66897b0a","name":"AI Agent"}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Filtrar e Extrair","type":"main","index":0}]]},"Filtrar e Extrair":{"main":[[{"node":"Verificar Audio","type":"main","index":0}]]},"Carregar Estado":{"main":[[{"node":"Rotear Acao","type":"main","index":0}]]},"Rotear Acao":{"main":[[{"node":"Ignorar Mensagem","type":"main","index":0}],[{"node":"Registrar Takeover","type":"main","index":0}],[{"node":"Preparar Request IA","type":"main","index":0}]]},"Preparar Request IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Processar Resposta IA":{"main":[[{"node":"Verificar Conclusao","type":"main","index":0}]]},"Verificar Conclusao":{"main":[[{"node":"Aplicar Etiqueta","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Continuar Ativo","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Verificar Audio":{"main":[[{"node":"Baixar Audio","type":"main","index":0}],[{"node":"Carregar Estado","type":"main","index":0}]]},"Baixar Audio":{"main":[[{"node":"Converter para Binario","type":"main","index":0}]]},"Formatar Transcricao":{"main":[[{"node":"Carregar Estado","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Formatar Transcricao","type":"main","index":0}]]},"Converter para Binario":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Processar Resposta IA","type":"main","index":0}]]}},"authors":"maicon oliveira","name":"Version 6c1ba103","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-10T21:14:43.792Z","id":41,"workflowId":"DRi4d9wHIoi6Jhfr","versionId":"6c1ba103-9ad4-41ab-ad76-d26f03cc9940","event":"activated","userId":"51253adc-c1d9-4b06-8e32-55190fac884c"},{"createdAt":"2026-03-10T21:42:28.329Z","id":43,"workflowId":"DRi4d9wHIoi6Jhfr","versionId":"6c1ba103-9ad4-41ab-ad76-d26f03cc9940","event":"activated","userId":"51253adc-c1d9-4b06-8e32-55190fac884c"},{"createdAt":"2026-03-10T21:45:04.228Z","id":45,"workflowId":"DRi4d9wHIoi6Jhfr","versionId":"6c1ba103-9ad4-41ab-ad76-d26f03cc9940","event":"activated","userId":"51253adc-c1d9-4b06-8e32-55190fac884c"},{"createdAt":"2026-03-10T21:42:24.398Z","id":42,"workflowId":"DRi4d9wHIoi6Jhfr","versionId":"6c1ba103-9ad4-41ab-ad76-d26f03cc9940","event":"deactivated","userId":"51253adc-c1d9-4b06-8e32-55190fac884c"},{"createdAt":"2026-03-10T21:45:01.219Z","id":44,"workflowId":"DRi4d9wHIoi6Jhfr","versionId":"6c1ba103-9ad4-41ab-ad76-d26f03cc9940","event":"deactivated","userId":"51253adc-c1d9-4b06-8e32-55190fac884c"}]}}