n8n-workflows/01_auto_expirar_presenca.json
{
  "name": "[Kaizen] 01 - Auto-Expirar Presença (Cron 30min)",
  "nodes": [
    {
      "id": "aaa00001-0000-0000-0000-000000000001",
      "name": "A cada 30 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "aaa00001-0000-0000-0000-000000000002",
      "name": "Chamar RPC expire_presence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_SUPABASE_PROJECT.supabase.co/rest/v1/rpc/expire_presence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "aaa00001-0000-0000-0000-000000000003",
      "name": "Verificar Erros",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "aaa00001-0000-0000-0000-000000000004",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 200],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "log-s1",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "log-s2",
              "name": "expirados",
              "value": "={{ $('Chamar RPC expire_presence').item.json.expired_count }}",
              "type": "number"
            },
            {
              "id": "log-s3",
              "name": "executado_em",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "aaa00001-0000-0000-0000-000000000005",
      "name": "Log Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 420],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "log-e1",
              "name": "status",
              "value": "erro",
              "type": "string"
            },
            {
              "id": "log-e2",
              "name": "detalhe",
              "value": "={{ $('Chamar RPC expire_presence').item.json }}",
              "type": "object"
            },
            {
              "id": "log-e3",
              "name": "executado_em",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "A cada 30 minutos": {
      "main": [
        [
          {
            "node": "Chamar RPC expire_presence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar RPC expire_presence": {
      "main": [
        [
          {
            "node": "Verificar Erros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Erros": {
      "main": [
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["kaizen", "presenca", "cron"]
}
