n8n-workflows/02_qrcode_checkin.json
{
  "name": "[Kaizen] 02 - QR Code Checkin de Presença",
  "nodes": [
    {
      "id": "bbb00002-0000-0000-0000-000000000001",
      "name": "Webhook Checkin GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "kaizen-checkin-presenca",
      "parameters": {
        "httpMethod": "GET",
        "path": "checkin",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "bbb00002-0000-0000-0000-000000000002",
      "name": "Extrair Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "ext-1",
              "name": "token",
              "value": "={{ $json.query.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "bbb00002-0000-0000-0000-000000000003",
      "name": "Validar Token Vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-empty",
              "leftValue": "={{ $json.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "bbb00002-0000-0000-0000-000000000004",
      "name": "RPC checkin_corretor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_SUPABASE_PROJECT.supabase.co/rest/v1/rpc/checkin_corretor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ p_token: $('Extrair Token').item.json.token }) }}",
        "options": {
          "timeout": 8000
        }
      }
    },
    {
      "id": "bbb00002-0000-0000-0000-000000000005",
      "name": "Checkin Bem-sucedido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "bbb00002-0000-0000-0000-000000000006",
      "name": "Resposta Presença Confirmada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 120],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Presença confirmada com sucesso! Bem-vindo, ' + $('RPC checkin_corretor').item.json.corretor_name + '.', corretor: $('RPC checkin_corretor').item.json.corretor_name, checkin_at: $('RPC checkin_corretor').item.json.checkin_at }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "bbb00002-0000-0000-0000-000000000007",
      "name": "Resposta Token Inválido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 320],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $('RPC checkin_corretor').item.json.error || 'Token inválido ou expirado' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "bbb00002-0000-0000-0000-000000000008",
      "name": "Resposta Token Ausente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 420],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Token não informado. Use: /webhook/checkin?token=SEU_TOKEN\" }",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Checkin GET": {
      "main": [
        [
          {
            "node": "Extrair Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Token": {
      "main": [
        [
          {
            "node": "Validar Token Vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Token Vazio": {
      "main": [
        [
          {
            "node": "RPC checkin_corretor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Token Ausente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC checkin_corretor": {
      "main": [
        [
          {
            "node": "Checkin Bem-sucedido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkin Bem-sucedido?": {
      "main": [
        [
          {
            "node": "Resposta Presença Confirmada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Token Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["kaizen", "presenca", "checkin", "qrcode"]
}
